{% extends 'base.html' %}

{% block content %}
<section class="content-card">
    <h1>О нас</h1>
    <p>
        Мы работаем на энтузиазме и в просветительских целях. Играем спектакли и организуем творческие вечера.
        За годы работы мы создали <b>более 50 спектаклей</b> и помогли сотням людей раскрыть свой творческий потенциал.
    </p>
    <h3>Руководитель клуба</h3>
    <img class="leader-photo" src="https://clubatom.ru/thumb/2/fudZDS4zwtWLQ2t9WEQldA/r/d/fvf6war2nii.jpg" alt="Руководитель клуба">
    <p><b>Подвигина Елена</b></p>
    <p>Кандидат педагогических наук, профессиональный филолог и организатор культурных пространств</p>
</section>
{% endblock %}

